


.main-container{
    max-width: 1140px;
    margin: 0 auto;
}

/* header nav style */
.nav{ 
    margin: 10 120px;
    display: flex;
    justify-content: space-between;
} 

.Download-btn{
    pad: 17px 24px;
    border: 1px solid gray;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 400px;
    color: #0D1321;
    background-color: white;
}

.logo-text{
    font-size: 28px;
    font-weight: 700;
    color:#0D1321;
}

/* banner style */
.banner{
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
}

.banner-col{
   text-align: center;
   padding: 80px;

}

.banner-title{
    font-size: 48px;
    font-weight: 900px;
    color: #0D1321;
}

.development-description {
    font-size: 16px;
    font-weight: normal;
    color: #0D1321;
    margin-bottom: -25px;
}

.banner-description{
    font-size: 16px;
    font-weight: normal;
    color: #0D1321;
    line-height: 26px;
}

.contact-btn{
    background-color: #0D1321;
    padding: 21px 24px;
    margin-top: 10px;
    color: white;
    border: none;
    border-radius: 8px;
}

/* development content style */

.development-content{
    background-color: rgba(241, 232, 232, 0.14);
    text-align: center;
    padding: 40px 80px;
    margin: 80px 120px;
    border-radius: 16px;
}

.development-title{
    font-size: 32px;
    font-weight: 700px;
    color: #0D1321;
}

.development-container{
    text-align: center;
    padding: 80px 80px 20px 80px;
    border-radius: 8px;
    
}

/* development row style*/
.development-row {
    display: flex;
    max-width: 720px;
    justify-content: space-around;
    margin: 15px 0px;
    border-radius: 8px;
    padding: 10px 30px;
    align-items: center;
    background: white;
}

.devlopment-left-col{
    text-align: left;
    padding-right: 40px;
}

.learn-more{
    padding: 12px 20px;
    background: white;
    border: .5px solid #0D1321;
}

/* secont row */
.devlopment-left-col-2{
    text-align: left;
    padding-right: 40px;
}

.devlopment-right-col-2{
    text-align: left;
}

/* inspiration area style */
.inspiration{
    text-align: center;
    max-width: 720px;
    margin: 0 auto;
}

.inspiration-title {
    font-size: 32;
    font-size: 32px;
    font-weight: bolder;
    color: #0D1321;
}

.inspiration-description{
    font-size: 16px;
    font-weight: 300px;
    font-weight: 200;
    margin-bottom: 48px;
}

/* cuttent target style */
.cuttent-target{
    text-align: center;
    max-width: 1020px;
    margin: 80px auto;
}

.cur-tar-pad-lr{
    padding: 0 180px!important;
}

.card-section{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    line-height: 18px;
}

.card{
    background-color: aqua;
    max-width: 250px;
    border-radius: 8px;
    padding: 40px;
}

.card-1{
    background-color: rgba(238, 148, 125, 0.10);
    text-align: left;
}

.card-2{
    background-color: rgba(0, 77, 232, 0.15);
    text-align: left;
}

.card-3{
    background-color: rgba(255, 75, 30, 0.14);
    text-align: left;
}

.learn-more-link{
    color: #0D1321;
}

.contact-section {
    background-image: url('../assets/handshake.jpg') ;
    background-repeat: no-repeat;
    max-width: 935px;
    text-align: center;
    border-radius: 16px;
    line-height: 18px;
    margin: 0 auto;
    padding: 64px 48px;
}

/* input [type = 'text'], input [type = 'button']{
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    padding: 15px 20px;
} */
input[type=text]{
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    padding: 15px 20px;
}

input[type=button]{
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    padding: 15px 20px;
}

footer{
    display: flex;
    width: 100%;
    background-color: #eaecf1;
    justify-content: space-around;
    margin: 20px 0px;
    padding: 15px;
}

.imge{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

